---
name: Build

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository and submodules
        uses: actions/checkout@v3
      - name: Build
        run: |
          docker build -t builder .
      - name: Run
        run: |
          curl -J -O -L 'https://pypi.io/packages/source/z/zeroc-ice/zeroc-ice-3.6.5.tar.gz'
          tar zxf zeroc-ice-3.6.5.tar.gz
          docker run --rm -v $PWD/zeroc-ice-3.6.5:/build builder /bin/bash -c "cd /build ; python3 setup.py bdist_wheel"
      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: artifacts
          path: zeroc-ice-3.6.5/dist/*.whl
          if-no-files-found: error
  release:
    if: startsWith(github.ref, 'refs/tags')
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Download artifacts from build
        uses: actions/download-artifact@v4
      - name: List artifacts
        run: ls -R
      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          files: |
            artifacts/*.whl
